*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

/*GRID CONTAINER*/
.grid__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr 2fr 2fr 0.75fr 0.2fr;
    grid-template-areas: 
    "header      header"
    "novedades   novedades"
    "categorias  categorias"
    "mail        mail"
    "footer      footer"
    ;
    background-color: #fe0879;
}

.menu__principal{
    background-color: #fed715;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    grid-area: header;
    
}

.logo{
    height: 150px;
    

}



.seccion__novedades{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    grid-area: novedades;
    
}


.seccion__categorias{
    display: flex;
    grid-area: categorias;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.categoria{
    display: flex;
    flex-direction: column;
    margin: 1em;

    
}

.botonCategoria{
    width: 100%;
}

.seccion__mail{
    display: flex;
    justify-content: center;

    padding-top: 100px;
    padding-bottom: 100px;
    grid-area: mail;
}

.ingreso__mail{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.seccionNosotros{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-direction: column;
}

.tituloNosotros{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
}


.portadaNosotros{
    display: flex;
    justify-content: center;
    
}

.descripcionNosotros{
    padding: 100px;
    font-size: 25px;
    font-family: "Ponomar", sans-serif;
}

.cuerpoContacto{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tituloContacto{
    background-color: #808080;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    font-size: 100px;
    font-family: "Bebas Neue", sans-serif;
} 

.seccionIconos{
    display: inline-flex;
    justify-content: center;
    padding: 100px;
    
}

.seccionMapa{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.icono{

    width: auto;
    height: 30px;

}


.pie{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    grid-area: footer;
}




/* media query tablet*/

@media (max-width: 768px){
    .grid__container{
        background-color: #fed715;
    }
    .menu__principal{
        background-color: #fe0879;
    }
}

/* media query mobile*/

@media (max-width: 480px){
    .grid__container{
        background-color: #0037b3;
    }
    .menu__principal{
        background-color: #ff82e2;
    }
}